.imgContact {
  width: 500px;
  height: 400px;
}
#card {
  background-color: black;
  border: 2px rgb(202, 65, 65) solid;
  margin: 10px;
  color: #fff;
}

.contactListCards {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  flex-wrap: wrap;
}
#modalBody {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#inp1 {
  padding: 5px;
  margin: 10px;
}
.btnDelete {
  margin: 20px;
}
